.lesarticles{
  display: flex;
justify-content: center;
  align-items: center;
flex-wrap: wrap;
  transition: 3s;

.article{
  display: flex;
  flex-direction: column;
  background-color: $color-facebook;
  width: 300px;
  margin: 15px;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  padding-bottom: 20px;

  .texte{
    padding: 10px;
  }


  h2{
    margin: 0;
    padding: 0;
  }

a:hover{
  color: white;
  text-decoration: none;
}





}

}