.auteur-div{
  background: #4C4C4C;
  padding: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
  img{
    width: 250px;
    border-radius: 100px;
    overflow: hidden;
  }
  p{
    color:white;
  }



}