.contenu{
display: flex;
  flex-direction: column;

  .description-artcile{
    color: white;
    margin-right: 15px;
    width: 100%;
    padding: 15px;
  }

}

@media screen and (min-width: $breakpoint-sm) {
  .contenu{


  margin: 15px;

  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
  border-radius: 20px;
}

}