footer{
  div{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    color: white;
    background: $background-header-color;
    position: absolute;
    bottom: 0;
    width: 100%;



    .material-icons{
      background-color: #00AFF0;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;

    }
  }
}