//STYLE DE NOTRE HEADER

//STYLE DE NOTRE HEADER

.header-page {

  background-color: $background-header-color;

  nav {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;

    padding: 10px;


    ul {
      display: flex;
      flex-direction: column;
      padding: 0;
      list-style: none;
      text-align: center;


      li {

        position: relative;
        margin: 10px 0;


        & > ul {
          display: none;
          background-color: $background-header-color;

          li {
            width: 100%;
            margin: 10px 0;
          }

        }

        &:hover > ul {
          display: block;

        }

      }

      a {
        padding: 5px 10px;
      }
    }
  }





}

@media screen and (min-width: $breakpoint-sm) {

  .header-page {


    nav {
      transition: 0.5s;
      flex-direction: row;


      .iconmenu {
        display: none;
      }

      ul {
        flex-direction: row;

        text-align: start;

        li > ul {
          min-width: 180px;

          position: absolute;
          z-index: 50;
          top: 100%;
        }

      }

    }
  }

}










