.imgprincipale{

  background: url("../images/background_elm5re_c_scale,w_310.jpg")no-repeat center 100%;
  height: 250px;
background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;

}

@media screen and (min-width: $breakpoint-md) {
  .imgprincipale{
    background: url("../images/background_elm5re_c_scale,w_835.jpg")no-repeat center 100%;
    height: 500px;
background-size: cover;

  }

}