// STYLE DE BASE SUR LA BALISE BODY

body{

  @include font($ff-normal, $fz-normal, $color-text-normal, $lh-normal);

  background:$color-background;
  position: relative;
  padding-bottom:200px ;

}



