// LES STYLES DE BASE DES BALISES <h>


h1{
  font-size: rem(20);
  font-family: $ff-titre;
}

h2{
  font-size: rem(42);
  font-family: $ff-titre;
}

h3{
  font-size: rem(20);
  font-family: $ff-titre;
}
