// STYLE DE BASE DE TOUS LES LIENS ET BOUTON DU SITE

a{

  &:link{
    color:$color-link;
    text-decoration: none;
    transition: 1s;

  }

  &:visited{
    color: $color-link-visited;
  }

  &:hover{
    color:deepskyblue;
    text-decoration: underline;

  }

  &:active{
    color: $color-link-active;
  }

  &:focus{
    color: $color-link-focus;
  }
}